@font-face {
    font-family: 'Lovelo';
    src: url('../fonts/Lovelo-Black.otf') format('opentype');
}

@font-face {
    font-family: 'TT';
    src: url('../fonts/TT\ Commons\ Light.otf') format('opentype');
}

@font-face {
    font-family: 'TT Black';
    src: url('../fonts/TT\ Commons\ Black.otf') format('opentype');
}

@font-face {
    font-family: 'Satisfy';
    src: url('../fonts/Satisfy-Regular.ttf') format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT";
}

@keyframes animation-pages {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    animation: animation-pages 1.5s ease;
    opacity: 1;
    background-color: #eeffee;
}

.btnInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    gap: 1.5rem;

    h2 {
        font-size: 18px;
        max-width: 250px;
        text-align: center;
        font-weight: 100;
    }

    .link {
        text-decoration: none;
        border-radius: 20px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background-color: #19711b;
        padding: 10px;
        transition: 0.4s ease;

        &:hover {
            scale: 1.2;
        }
    }
}

.op{
    animation: animation-pages 1.5s ease;
    opacity: 1;
}

/* Estilo para la barra de scroll vertical */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    /* Color del fondo de la barra */
}

::-webkit-scrollbar-thumb {
    background: #71911b;
    border-radius: 20px;
    border: solid 1px;
    /* Color del thumb (barra móvil) */
}

/* Estilo para la barra de scroll horizontal */
::-webkit-scrollbar-horizontal {
    height: 10px;
    /* Altura de la barra */
}

::-webkit-scrollbar-thumb:horizontal {
    background: #71911b;
    /* Color del thumb (barra móvil) horizontal */
}