.ospida {
    background-image: url("../../assetsCoberturas/fondoCoberturas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    .sectionOspida1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        height: 32rem;
        opacity: 0;
        transition: 2s ease;
        scale: 0.8;

        &.activado {
            opacity: 1;
            scale: 1;
        }

        img {
            height: 120px;
        }

        p {
            font-size: 30px;
            width: 630px;
            text-align: center;

            negrita {
                font-weight: bolder;
            }
        }
    }

    .sectionOspida2 {
        display: grid;
        grid-template-areas: "parte1 parte1" "parte2 parte3";
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        margin-bottom: 4rem;

        .sec2-parte1 {
            grid-area: parte1;
            transition: 2s ease;
            transform: translateX(-50%);

            &.activado {
                transform: translateX(0);
            }

            h1 {
                background-color: #c5cdc581;
                width: 50%;
                border-radius: 0 20px 20px 0;
                text-align: center;
                font-size: 32px;
                padding: 1rem;
            }
        }

        .sec2-parte2 {
            grid-area: parte2;
            transition: 2s ease;
            opacity: 0;
            scale: 0;

            &.activado {
                scale: 1;
                opacity: 1;
            }

            h2 {
                background-color: #c5cdc581;
                border-radius: 20px;
                font-size: 20px;
                padding: 1rem;
                margin-left: 2rem;

                img {
                    height: 16px;
                }

                negrita {
                    font-family: "TT Black";
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .ospida {
        gap: 6rem;

        .sectionOspida1 {
            gap: 3rem;
            height: 20rem;

            p {
                font-size: 26px;
                width: 600px;
            }
        }

        .sectionOspida2 {
            gap: 2rem;
            margin-bottom: 3rem;

            .sec2-parte1 {
                h1 {
                    width: 60%;
                    font-size: 24px;
                    padding: 1rem;
                }
            }

            .sec2-parte2 {
                h2 {
                    font-size: 18px;
                    padding: 0.9rem;
                    margin-left: 1rem;

                    img {
                        height: 13px;
                    }
                }
            }
        }
    }
}

@media (max-width: 810px) {
    .ospida {
        .sectionOspida1 {
            p {
                font-size: 20px;
                width: 400px;
            }

            img {
                height: 110px;
            }
        }

        .sectionOspida2 {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;

            .sec2-parte1 {
                display: flex;
                justify-content: center;

                h1 {
                    width: auto;
                    border-radius: 20px;
                    font-size: 20px;
                    padding: 1rem;
                }
            }

            .sec2-parte2 {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 510px) {
    .ospida {
        .sectionOspida1 {
            height: 8rem;
            margin-top: 3rem;
            p {
                font-size: 18px;
                width: 350px;
            }

            img {
                height: 100px;
            }
        }

        .sectionOspida2 {

            .sec2-parte1 {
                h1 {
                    font-size: 16px;
                    width: 250px;
                }
            }

            .sec2-parte2 {
                h2{
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 470px) {
    .ospida {
        .sectionOspida1 {
            height: 10rem;
            margin-top: 3rem;

            img {
                height: 90px;
            }
        }

        .sectionOspida2 {
            gap: 2rem;

            .sec2-parte1 {
                h1 {
                    font-size: 14px;
                    width: 210px;
                }
            }

            .sec2-parte2 {
                h2 {
                    font-size: 13px;

                    img {
                        height: 7px;
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .ospida {
        .sectionOspida1 {
            height: 15rem;

            p {
                font-size: 18px;
                width: 280px;
            }
        }

        .sectionOspida2 {
            .sec2-parte1 {
                h1 {
                    font-size: 17px;
                }
            }

            .sec2-parte2 {
                h2 {
                    font-size: 11px;
                }
            }
        }
    }
}