.ospida {
    background-image: url("../../assetsCoberturas/fondoCoberturas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    .sectionOspida1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        height: 32rem;
        opacity: 0;
        transition: 2s ease;
        scale: 0.8;

        &.activado {
            opacity: 1;
            scale: 1;
        }

        img {
            height: 120px;
        }

        p {
            font-size: 30px;
            width: 630px;
            text-align: center;

            negrita {
                font-weight: bolder;
            }
        }
    }

    .sectionOspida2 {
        display: grid;
        grid-template-areas: "parte1 parte1" "parte2 parte3";
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        margin-bottom: 4rem;

        .sec2-parte1 {
            grid-area: parte1;
            transition: 2s ease;
            transform: translateX(-50%);

            &.activado {
                transform: translateX(0);
            }

            h1 {
                background-color: #c5cdc581;
                width: 50%;
                border-radius: 0 20px 20px 0;
                text-align: center;
                font-size: 32px;
                padding: 1rem;
            }
        }

        .sec2-parte2 {
            grid-area: parte2;
            transition: 2s ease;
            opacity: 0;
            scale: 0;

            &.activado {
                scale: 1;
                opacity: 1;
            }

            h2 {
                background-color: #c5cdc581;
                border-radius: 20px;
                font-size: 20px;
                padding: 1rem;
                margin-left: 2rem;

                img {
                    height: 16px;
                }

                negrita {
                    font-family: "TT Black";
                }
            }
        }

        .sec2-parte3 {
            grid-area: parte3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            transition: 2s ease;
            opacity: 0;

            &.activado {
                opacity: 1;
            }

            h2 {
                font-weight: 100;
                background-color: #c5cdc581;
                border-radius: 20px;
                text-align: center;
                padding: 1rem;
                width: 500px;
                font-size: 30px;
            }

            .linkOspida {
                text-decoration: none;
                border-radius: 20px;
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                background-color: #19711b;
                padding: 10px;
                transition: 0.4s ease;

                &:hover {
                    scale: 1.2;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .ospida {
        gap: 6rem;

        .sectionOspida1 {
            gap: 3rem;
            height: 30rem;

            .atras {
                font-size: 18px;
                padding: 7px;
            }

            img {
                height: 100px;
            }

            p {
                font-size: 26px;
                width: 600px;
            }
        }

        .sectionOspida2 {
            gap: 2rem;
            margin-bottom: 3rem;

            .sec2-parte1 {
                h1 {
                    width: 60%;
                    font-size: 24px;
                    padding: 1rem;
                }
            }

            .sec2-parte2 {
                h2 {
                    font-size: 18px;
                    padding: 0.9rem;
                    margin-left: 1rem;

                    img {
                        height: 13px;
                    }
                }
            }

            .sec2-parte3 {
                gap: 3rem;

                h2 {
                    padding: 0.8rem;
                    font-size: 20px;
                }

                .linkOspida {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 810px) {
    .ospida {
        .sectionOspida1 {
            gap: 3rem;
            height: 30rem;

            .atras {
                font-size: 18px;
                padding: 7px;
            }

            img {
                height: 100px;
            }

            p {
                font-size: 26px;
                width: 600px;
            }
        }

        .sectionOspida2 {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-bottom: 3rem;

            .sec2-parte1 {
                display: flex;
                justify-content: center;

                h1 {
                    width: auto;
                    border-radius: 20px;
                    font-size: 20px;
                    padding: 1rem;
                }
            }

            .sec2-parte2 {
                display: flex;
                justify-content: center;

                h2 {
                    font-size: 18px;
                    padding: 0.9rem;

                    img {
                        height: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .ospida {
        gap: 0;

        .sectionOspida1 {
            gap: 3rem;
            height: 30rem;

            p {
                font-size: 20px;
                width: 420px;
            }
        }

        .sectionOspida2 {
            gap: 2rem;

            .sec2-parte1 {
                h1 {
                    font-size: 16px;
                }
            }

            .sec2-parte2 {
                h2 {
                    font-size: 14px;

                    img {
                        height: 9px;
                    }
                }
            }

            .sec2-parte3 {
                gap: 2rem;

                h2 {
                    font-size: 14px;
                }

                .linkOspida {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 470px) {
    .ospida {
        .sectionOspida1 {
            height: 18rem;
            gap: 2rem;

            .atras {
                font-size: 15px;
            }

            img {
                height: 70px;
            }

            p {
                font-size: 15px;
                width: 320px;
            }
        }

        .sectionOspida2 {
            gap: 2rem;

            .sec2-parte1 {
                h1 {
                    font-size: 12px;
                    padding: 0.7rem;
                }
            }

            .sec2-parte2 {
                h2 {
                    font-size: 11px;

                    img {
                        height: 7px;
                    }
                }
            }

            .sec2-parte3 {
                gap: 2rem;

                h2 {
                    font-size: 11px;
                }

                .linkOspida {
                    font-size: 10px;
                }
            }
        }
    }
}

@media (max-width: 345px) {
    .ospida {
        gap: 1rem;

        .sectionOspida1 {
            height: 15rem;

            .atras {
                font-size: 12px;
            }

            p {
                font-size: 12px;
                width: 250px;
            }
        }

        .sectionOspida2 {
            .sec2-parte1 {
                h1 {
                    font-size: 11px;
                    padding: 0.6rem;
                }
            }

            .sec2-parte2 {
                h2 {
                    font-size: 9.5px;

                    img {
                        height: 6px;
                    }
                }
            }

            .sec2-parte3 {
                gap: 1.5rem;

                h2 {
                    font-size: 9px;
                    padding: 0.6rem;
                }

                .linkOspida {
                    font-size: 8px;
                    padding: 0.4rem;
                }
            }
        }
    }
}