.nosotros{
    background-image: url("./assetsNosotros/fondoNosotros.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 40rem;

    img{
        scale: 1.6;
        height: 100px;
    }

    p{
        font-size: 28px;
        width: 1300px;
        text-align: center;
        font-weight: bold;
    }

    h2{
        font-size: 23px;
        width: 720px;
        text-align: center;
    }
}