#titleTrabajo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #dfdddd;
    height: 7rem;
    gap: 15px;

    h2 {
        text-align: center;
        font-size: 26px;
    }

    h2:nth-child(2) {
        font-size: 22px;
    }
}

.sectionsTrabajo {
    border: #19711b 5px solid;

    .sectionTrabajo1 {
        margin-top: 5rem;
        height: 300px;
        width: 70%;
        border-radius: 0 20rem 20rem 0;
        background-color: #19711b;
    }

    .sectionTrabajo2 {
        transform: translateX(40%);
        margin: 5rem 0 0 2.5rem;
        height: 300px;
        width: 70%;
        border-radius: 20rem 0 0 20rem;
        background-color: #19711b;
    }

    .sectionTrabajo3 {
        display: flex;
        align-items: center;
        justify-content: center;

        .circulo {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 5rem;
            height: 300px;
            width: 300px;
            border-radius: 20rem;
            background-color: #19711b;
        }
    }
}




@media (max-width: 1450px) {
    #titleTrabajo {
        h2 {
            font-size: 25px;
        }

        h2:nth-child(2) {
            font-size: 21px;
        }
    }
}

@media (max-width: 780px) {
    #titleTrabajo {
        height: 6.5rem;

        h2 {
            font-size: 24px;
        }

        h2:nth-child(2) {
            font-size: 18px;
        }
    }
}

@media (max-width: 500px) {
    #titleTrabajo {
        height: 8.5rem;

        h2 {
            font-size: 22px;
        }
    }
}

@media (max-width: 400px) {
    #titleTrabajo {
        height: 7.5rem;

        h2 {
            font-size: 20px;
        }

        h2:nth-child(2) {
            font-size: 16px;
        }
    }
}

@media (max-width: 365px) {
    #titleTrabajo {
        h2 {
            font-size: 18px;
        }

        h2:nth-child(2) {
            font-size: 15px;
        }
    }
}

@media (max-width: 330px) {
    #titleTrabajo {
        height: 7rem;

        h2 {
            font-size: 16px;
        }

        h2:nth-child(2) {
            font-size: 14px;
        }
    }
}