.form-containerTrabajo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43rem;
    background-color: #eaefea;

    #contactFormTrabajo {
        display: grid;
        grid-template-areas:
            "img img"
            "mitad1 mitad2"
            "boton boton";
        width: 800px;
        padding: 2rem;
        background-color: #ffffff;
        border-radius: 13px;
        gap: 20px;
        box-shadow: 0 2px 9px rgb(0, 0, 0);

        .imgTrabajo {
            grid-area: img;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100px;
            }
        }

        .mitad1 {
            grid-area: mitad1;

            .divMitad1 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                label {
                    font-size: 16px;
                    font-family: "TT";
                }

                input {
                    font-size: 15px;
                    padding: 8px;
                    width: 300px;
                    border: 0;
                    background-color: #f0e9e9;
                    border-radius: 20px;
                    transition: 0.2s ease;
                    font-family: "TT";

                    &:hover {
                        background-color: #5b8a4a;
                    }

                    &:focus {
                        outline: none;
                        background-color: #5b8a4a;
                    }
                }
            }

            #prov {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                label {
                    font-size: 16px;
                    font-family: "TT";
                }

                input {
                    font-size: 15px;
                    padding: 8px;
                    width: 300px;
                    border: 0;
                    background-color: #f0e9e9;
                    border-radius: 20px;
                    transition: 0.2s ease;
                    font-family: "TT";

                    &:hover {
                        background-color: #5b8a4a;
                    }

                    &:focus {
                        outline: none;
                        background-color: #5b8a4a;
                    }
                }

                div {
                    #mensaje {
                        background-color: #ffffffec;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        border: solid 1px;
                        border-radius: 0px 0px 20px 20px;
                        width: 300px;
                        position: absolute;
                        z-index: 2;
                        animation: dropdownAnimation 0.4s ease-in-out;

                        p {
                            font-size: 14.5px;
                            cursor: pointer;
                            width: 180px;
                            border: solid 1px #00000000;
                            border-bottom: solid 1px #0000006a;
                            padding: 5px;
                            font-family: "TT";
                            transition: 0.15s ease;
                            animation: dropdownAnimation 0.4s ease-in-out;

                            &:hover {
                                scale: 1.05;
                                border: solid 1px;
                                border-radius: 5px;
                                background-color: #a4bea4;
                            }
                        }
                    }
                }
            }
        }

        .mitad2 {
            grid-area: mitad2;

            .divMitad2 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                label {
                    font-size: 16px;
                    font-family: "TT";
                }

                input {
                    font-size: 15px;
                    padding: 8px;
                    width: 300px;
                    border: 0;
                    background-color: #f0e9e9;
                    border-radius: 20px;
                    transition: 0.2s ease;
                    font-family: "TT";

                    &:hover {
                        background-color: #5b8a4a;
                    }

                    &:focus {
                        outline: none;
                        background-color: #5b8a4a;
                    }
                }
            }
        }

        .boton {
            display: flex;
            justify-content: space-around;
            grid-area: boton;

            #CV {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                label {
                    font-size: 16px;
                    font-family: "TT";
                }

                input {
                    font-size: 15px;
                    padding: 8px;
                    width: 300px;
                    border: 0;
                    background-color: #f0e9e9;
                    border-radius: 20px;
                    transition: 0.2s ease;
                    font-family: "TT";

                    &:hover {
                        background-color: #5b8a4a;
                    }

                    &:focus {
                        outline: none;
                        background-color: #5b8a4a;
                    }
                }
            }

            button {
                border-radius: 28px;
                padding: 10px;
                border: 1px solid #00000083;
                font-size: 18px;
                transition: 0.3s ease;
                font-family: "Lovelo";

                &:hover {
                    background-color: #b4adad;
                    scale: 1.1;
                }
            }
        }
    }
}

/* Estilos para la animación de despliegue */
@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}