.femechaco {
    background-image: url("../../assetsCoberturas/fondoCoberturas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    .sectionChaco1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        height: 35rem;
        opacity: 0;
        transition: 2s ease;
        scale: 0.8;

        &.activado {
            opacity: 1;
            scale: 1;
        }

        img {
            height: 80px;
        }

        p {
            font-size: 30px;
            width: 800px;
            text-align: center;
        }
    }

    .sectionChaco2 {
        display: grid;
        grid-template-areas:
            "parte1 parte2"
            "parte3 parte3";
        grid-template-columns: 70%;
        gap: 5rem;

        .sec2-parte1 {
            grid-area: parte1;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .titlePlanes {
                transform: translateX(-50%);
                transition: 1s ease;

                &.activado {
                    transform: translateX(0);
                }

                h1 {
                    background-color: #c5cdc581;
                    font-size: 40px;
                    width: 450px;
                    text-align: center;
                    padding: 20px;
                    border-radius: 0 20px 20px 0;
                    color: #1072c4;
                }
            }

            .planesChaco {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .contenedorPlan {
                    transform: translateX(-50%);
                    transition: 1.4s ease;

                    &.activado {
                        transform: translateX(0);
                    }

                    .plan {
                        width: 30%;
                        border-radius: 15px;
                        transition: 0.5s ease-in-out;

                        h2 {
                            font-size: 30px;
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            azulp {
                                color: #1072c4;
                                font-size: 40px;
                                font-family: "TT Black";
                                font-weight: 100;
                            }

                            azul {
                                color: #1072c4;
                                font-family: "TT Black";
                                font-weight: 100;
                            }

                            img {
                                height: 23px;
                                position: relative;
                                left: 5px;
                            }
                        }

                        &:hover {
                            background-color: #1073c456;
                            transform: translateX(30px);
                        }
                    }
                }

                .contenedorPlan:nth-child(2) {
                    transition: 1.8s ease;

                    .plan {
                        width: 32%;
                    }
                }

                .contenedorPlan:nth-child(3) {
                    transition: 2.2s ease;

                    .plan {
                        width: 49%;
                    }
                }
            }
        }

        .sec2-parte2 {
            grid-area: parte2;
            background-color: #c5cdc581;
            width: 300px;
            height: 200px;
            margin-top: 3rem;
            border-radius: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: 2s ease;

            &.activado {
                opacity: 1;
            }

            h2 {
                position: relative;
                top: 2rem;
                font-size: 41px;
                width: 200px;
                text-align: center;
                color: #1072c4;
            }

            h2:nth-child(2) {
                color: #000;
                margin-bottom: 0;

                azul {
                    color: #1072c4;
                }
            }

            img {
                height: 75px;
                position: relative;
                top: 1rem;
                left: 8.5rem;
                scale: 0;
                opacity: 0;
                transition: 2.5s ease;

                &.activado {
                    scale: 1.2;
                    opacity: 1;
                }
            }
        }

        .sec2-parte3 {
            grid-area: parte3;
            gap: 3rem;
            margin-left: 2rem;
            display: flex;
            gap: 3rem;
            background-color: #c5cdc581;
            width: 50%;
            padding: 1rem;
            border-radius: 20px;
            transition: 3s ease;
            opacity: 0;

            &.activado {
                opacity: 1;
            }

            h2 {
                font-size: 22px;

                img {
                    height: 15px;
                }
            }
        }
    }

    .btnChaco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        gap: 1.5rem;

        h2 {
            font-size: 24px;
            text-align: center;
            font-weight: 100;
        }

        .linkChaco {
            text-decoration: none;
            border-radius: 20px;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            background-color: #19711b;
            padding: 10px;
            transition: 0.4s ease;

            &:hover {
                scale: 1.2;
            }
        }
    }
}

@media (max-width: 1300px) {
    .femechaco {
        gap: 1rem;

        .sectionChaco1 {
            height: 22rem;

            img {
                height: 60px;
            }

            p {
                font-size: 25px;
                width: 550px;
            }
        }

        .sectionChaco2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            .sec2-parte1 {
                order: 2;
                grid-area: parte1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                .titlePlanes {
                    transform: translateX(0);
                    opacity: 0;
                    transition: 2s ease;

                    &.activado {
                        opacity: 1;
                    }

                    h1 {
                        font-size: 35px;
                        width: 390px;
                        padding: 1rem;
                        border-radius: 20px;
                    }
                }

                .planesChaco {
                    .contenedorPlan {
                        transform: translateX(0);
                        opacity: 0;
                        scale: 0.8;
                        transition: 2.4s ease;

                        &.activado {
                            scale: 1;
                            opacity: 1;
                        }

                        .plan {
                            width: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &:hover {
                                background-color: #1073c456;
                                transform: translateX(0);
                                scale: 1.2;
                            }
                        }
                    }

                    .contenedorPlan:nth-child(2) {
                        transition: 2.8s ease;

                        .plan {
                            width: auto;
                        }
                    }

                    .contenedorPlan:nth-child(3) {
                        transition: 3.2s ease;

                        .plan {
                            width: auto;
                        }
                    }
                }
            }

            .sec2-parte2 {
                order: 1;
                width: 250px;
                height: 180px;
                transition: 3s ease-in-out;

                h2 {
                    top: 1.8rem;
                    font-size: 36px;
                }

                img {
                    height: 65px;
                    top: 0.8rem;
                    left: 7rem;
                }
            }

            .sec2-parte3 {
                order: 3;
                height: 22rem;
                align-items: center;
                width: 90%;

                h2 {
                    font-size: 19px;

                    img {
                        height: 11px;
                    }
                }
            }
        }

        .btnChaco {
            h2 {
                font-size: 20px;
                width: 400px;
            }

            .linkChaco {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 700px) {
    .femechaco {
        .sectionChaco1 {
            height: 18rem;
            gap: 2.5rem;

            img {
                height: 55px;
            }

            p {
                font-size: 20px;
                width: 450px;
            }
        }

        .sectionChaco2 {
            gap: 2.5rem;

            .sec2-parte1 {
                .titlePlanes {
                    h1 {
                        font-size: 30px;
                        width: 320px;
                        padding: 0.7rem;
                    }
                }

                .planesChaco {
                    .contenedorPlan {
                        .plan {
                            h2 {
                                font-size: 20px;

                                azulp {
                                    font-size: 30px;
                                }

                                img {
                                    height: 17px;
                                }
                            }
                        }
                    }
                }
            }

            .sec2-parte2 {
                width: 200px;
                height: 150px;

                h2 {
                    top: 1.4rem;
                    font-size: 30px;
                }

                img {
                    height: 50px;
                    top: 0.4rem;
                    left: 6rem;
                }
            }

            .sec2-parte3 {
                height: 20rem;

                h2 {
                    font-size: 15px;

                    img {
                        height: 10px;
                    }
                }
            }
        }

        .btnChaco {
            h2 {
                font-size: 18px;
            }

            .linkChaco {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 480px) {
    .femechaco {
        .sectionChaco1 {
            img {
                height: 50px;
            }

            p {
                font-size: 16px;
                width: 340px;
            }
        }

        .sectionChaco2 {
            .sec2-parte1 {
                gap: 1.5rem;
                .titlePlanes {
                    h1 {
                        font-size: 20px;
                        width: 200px;
                        padding: 0.6rem;
                    }
                }

                .planesChaco {
                    .contenedorPlan {
                        .plan {
                            h2 {
                                font-size: 15px;

                                azulp {
                                    font-size: 20px;
                                }

                                img {
                                    height: 11px;
                                }
                            }
                        }
                    }
                }
            }

            .sec2-parte2 {
                border-radius: 20px;
                width: 170px;
                height: 130px;

                h2 {
                    top: 1rem;
                    font-size: 25px;
                }

                img {
                    height: 40px;
                    top: 0.4rem;
                    left: 5rem;
                }
            }

            .sec2-parte3 {
                width: auto;
                height: 17rem;
                padding: 0.5rem;

                h2 {
                    font-size: 11px;

                    img {
                        height: 9px;
                    }
                }
            }
        }

        .btnChaco {
            h2 {
                font-size: 14px;
                width: 300px;
            }

            .linkChaco {
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 360px) {
    .femechaco {
        gap: 0.5rem;
        .sectionChaco1 {
            height: 13rem;
            img {
                height: 36px;
            }

            p {
                font-size: 12px;
                width: 280px;
            }
        }

        .sectionChaco2 {
            gap: 1rem;
            .sec2-parte1 {
                gap: 1rem;
                .titlePlanes {
                    h1 {
                        font-size: 14px;
                        width: 150px;
                        border-radius: 10px;
                    }
                }

                .planesChaco {
                    .contenedorPlan {
                        .plan {
                            h2 {
                                font-size: 12px;

                                azulp {
                                    font-size: 16px;
                                }

                                img {
                                    height: 8px;
                                }
                            }
                        }
                    }
                }
            }

            .sec2-parte2 {
                border-radius: 20px;
                width: 120px;
                height: 90px;

                h2 {
                    top: 0.6rem;
                    font-size: 16px;
                    width: 110px;
                }

                img {
                    height: 30px;
                    top: 0.4rem;
                    left: 3.5rem;
                }
            }

            .sec2-parte3 {
                width: auto;
                height: 15rem;

                h2 {
                    font-size: 9px;

                    img {
                        height: 9px;
                    }
                }
            }
        }

        .btnChaco {
            h2 {
                font-size: 12px;
                width: 260px;
            }

            .linkChaco {
                font-size: 9px;
            }
        }
    }
}