$sizeLabel: 18px;
$sizeInput: 16px;
$sizeError: 14px;
$sizeProv : 14px;
$widthError: 270px;
$heightError: 30px;
$bottomTilde: 100%;
$leftTilde: 8rem;

.contactanosForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #eeffee;
    height: 40rem;

    form {
        display: grid;
        grid-template-areas:
            "img img"
            "Mitad1 Mitad2"
            "btn btn";
        width: 720px;
        padding: 1.3rem;
        background-color: #a4bea4;
        border-radius: 13px;
        gap: 8px;
        box-shadow: 0 2px 9px rgb(0, 0, 0);

        .Img {
            grid-area: img;
            display: flex;
            justify-content: center;

            img {
                height: 100px;
            }
        }

        .Mitad1 {
            grid-area: Mitad1;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;

                label {
                    font-size: $sizeLabel;
                }

                /* Estilo para ocultar los botones de incremento y decremento */

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                }

                input {
                    font-size: $sizeInput;
                    padding: 8px;
                    width: 300px;
                    border: 0;
                    background-color: #f0e9e9;
                    border-radius: 20px;
                    transition: 0.2s ease;

                    &:hover {
                        background-color: #5b8a4a;
                    }

                    &:focus {
                        outline: none;
                        background-color: #5b8a4a;
                    }
                }

                .contenedorError {
                    height: $heightError;
                    width: $widthError;
                    text-align: center;

                    .errorMessageDiv {
                        font-size: $sizeError;
                    }

                    .iconDiv {
                        position: relative;
                        bottom: $bottomTilde;
                        left: $leftTilde;
                    }
                }
            }
        }

        .Mitad2 {
            grid-area: Mitad2;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;

                label {
                    font-size: $sizeLabel;
                }

                /* Estilo para ocultar los botones de incremento y decremento */

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                }

                input {
                    font-size: $sizeInput;
                    padding: 8px;
                    width: 300px;
                    border: 0;
                    background-color: #f0e9e9;
                    border-radius: 20px;
                    transition: 0.2s ease;

                    &:hover {
                        background-color: #5b8a4a;
                    }

                    &:focus {
                        outline: none;
                        background-color: #5b8a4a;
                    }
                }

                .contenedorError {
                    height: $heightError;
                    width: $widthError;
                    text-align: center;

                    .errorMessageDiv {
                        font-size: $sizeError;
                    }

                    .iconDiv {
                        position: relative;
                        bottom: $bottomTilde;
                        left: $leftTilde;
                    }
                }
            }
        }

        .Btn {
            grid-area: btn;
            display: flex;
            justify-content: center;

            button {
                border-radius: 28px;
                padding: 10px;
                border: 1px solid #00000083;
                font-size: 18px;
                transition: 0.3s ease;
                font-family: "Lovelo";

                &:hover {
                    background-color: #b4adad;
                    scale: 1.1;
                }
            }
        }

        #prov {
            .contenedorSugerencia {
                height: 30px;

                div {
                    margin: -2px;

                    #mensaje {
                        background-color: #ffffffec;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        border: solid 1px;
                        border-radius: 0px 0px 20px 20px;
                        width: 300px;
                        position: absolute;
                        z-index: 2;
                        animation: dropdownAnimation 0.4s ease-in-out;

                        p {
                            font-size: $sizeProv;
                            cursor: pointer;
                            width: 180px;
                            border: solid 1px #00000000;
                            border-bottom: solid 1px #0000006a;
                            padding: 5px;
                            transition: 0.15s ease;
                            animation: dropdownAnimation 0.4s ease-in-out;

                            &:hover {
                                scale: 1.07;
                                border: solid 1px;
                                border-radius: 7px;
                                background-color: #a4bea4;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Estilos para la animación de despliegue */
@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1100px) {
    $sizeLabel: 17px;
    $sizeInput: 15px;
    $sizeError: 13px;
    $sizeProv : 13px;
    $widthError: 260px;
    $heightError: 28px;
    $bottomTilde: 90%;
    $leftTilde: 7.5rem;

    .form-container {
        height: 40rem;

        #contactForm {
            width: 690px;
            padding: 1rem;
            gap: 6px;

            .Img {
                img {
                    height: 95px;
                }
            }

            .Mitad1 {
                div {
                    gap: 3px;

                    label {
                        font-size: $sizeLabel;
                    }

                    input {
                        font-size: $sizeInput;
                        width: 280px;
                    }

                    .contenedorError {
                        height: $heightError;
                        width: $widthError;

                        .errorMessageDiv {
                            font-size: $sizeError;
                        }

                        .iconDiv {
                            bottom: $bottomTilde;
                            left: $leftTilde;
                        }
                    }
                }
            }

            .Mitad2 {
                div {
                    gap: 3px;

                    label {
                        font-size: $sizeLabel;
                    }

                    input {
                        font-size: $sizeInput;
                        width: 280px;
                    }

                    .contenedorError {
                        height: $heightError;
                        width: $widthError;

                        .errorMessageDiv {
                            font-size: $sizeError;
                        }

                        .iconDiv {
                            bottom: $bottomTilde;
                            left: $leftTilde;
                        }
                    }
                }
            }

            .Btn {
                button {
                    padding: 8px;
                    font-size: 15px;
                }
            }

            #prov {
                .contenedorSugerencia {

                    div {
                        #mensaje {
                            padding: 8px;
                            width: 280px;

                            p {
                                font-size: $sizeProv;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    $sizeLabel: 16px;
    $sizeInput: 14px;
    $sizeError: 12px;
    $sizeProv : 12px;
    $widthError: 255px;
    $heightError: 26px;
    $bottomTilde: 100%;
    $leftTilde: 7rem;

    .form-container {
        height: 36rem;

        #contactForm {
            width: 560px;
            padding: 0.8rem;
            gap: 5px;

            .Img {
                img {
                    height: 95px;
                }
            }

            .Mitad1 {
                div {
                    gap: 2px;

                    label {
                        font-size: $sizeLabel;
                    }

                    input {
                        font-size: $sizeInput;
                        width: 250px;
                    }

                    .contenedorError {
                        height: $heightError;
                        width: $widthError;

                        .errorMessageDiv {
                            font-size: $sizeError;
                        }
                        .iconDiv {
                            bottom: $bottomTilde;
                            left: $leftTilde;
                        }
                    }
                }
            }

            .Mitad2 {
                div {
                    gap: 2px;

                    label {
                        font-size: $sizeLabel;
                    }

                    input {
                        font-size: $sizeInput;
                        width: 250px;
                    }

                    .contenedorError {
                        height: $heightError;
                        width: $widthError;
                        .errorMessageDiv {
                            font-size: $sizeError;
                        }
                        .iconDiv {
                            bottom: $bottomTilde;
                            left: $leftTilde;
                        }
                    }
                }
            }

            .Btn {
                button {
                    padding: 8px;
                    font-size: 15px;
                }
            }

            #prov {
                .contenedorSugerencia {

                    div {
                        #mensaje {
                            padding: 8px;
                            width: 250px;

                            p {
                                font-size: $sizeProv;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 590px) {
    $sizeLabel: 18px;
    $sizeInput: 16px;
    $sizeError: 14px;
    $sizeProv : 14px;
    $widthError: 260px;
    $heightError: 26px;
    $bottomTilde: 1.8rem;
    $leftTilde: 7.5rem;

    .form-container {
        height: 53rem;

        #contactForm {
            grid-template-areas:
                "img"
                "Mitad1"
                "Mitad2"
                "btn";
            width: 370px;
            padding: 0.5rem;
            gap: 5px;

            .Img {
                img {
                    height: 95px;
                }
            }

            .Mitad1 {
                div {
                    gap: 3px;

                    label {
                        font-size: $sizeLabel;
                    }

                    input {
                        font-size: $sizeInput;
                        width: 280px;
                    }

                    .contenedorError {
                        height: $heightError;
                        width: $widthError;

                        .errorMessageDiv {
                            font-size: $sizeError;
                        }

                        .iconDiv {
                            bottom: $bottomTilde;
                            left: $leftTilde;
                        }
                    }
                }
            }

            .Mitad2 {
                div {
                    gap: 3px;

                    label {
                        font-size: $sizeLabel;
                    }

                    input {
                        font-size: $sizeInput;
                        width: 280px;
                    }

                    .contenedorError {
                        height: $heightError;
                        width: $widthError;

                        .errorMessageDiv {
                            font-size: $sizeError;
                        }

                        .iconDiv {
                            bottom: $bottomTilde;
                            left: $leftTilde;
                        }
                    }
                }
            }

            .Btn {
                button {
                    padding: 8px;
                    font-size: 15px;
                }
            }

            #prov {
                .contenedorSugerencia {

                    div {
                        #mensaje {
                            width: 280px;

                            p {
                                font-size: $sizeProv;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    $sizeLabel: 16px;
    $sizeInput: 14px;
    $sizeError: 12px;
    $sizeProv : 12px;
    $widthError: 240px;
    $heightError: 24px;
    $bottomTilde: 100%;
    $leftTilde: 6.5rem;

    .form-container {
        height: 44rem;

        #contactForm {
            width: 310px;
            padding: 0.3rem;
            gap: 5px;

            .Img {
                img {
                    height: 75px;
                }
            }

            .Mitad1 {
                div {
                    gap: 3px;

                    label {
                        font-size: $sizeLabel;
                    }

                    input {
                        font-size: $sizeInput;
                        width: 240px;
                        padding: 4.5px;
                    }

                    .contenedorError {
                        height: $heightError;
                        width: $widthError;

                        .errorMessageDiv {
                            font-size: $sizeError;
                        }

                        .iconDiv {
                            bottom: $bottomTilde;
                            left: $leftTilde;
                        }
                    }
                }
            }

            .Mitad2 {
                div {
                    gap: 3px;

                    label {
                        font-size: $sizeLabel;
                    }

                    input {
                        font-size: $sizeInput;
                        width: 240px;
                        padding: 4.5px;
                    }

                    .contenedorError {
                        height: $heightError;
                        width: $widthError;

                        .errorMessageDiv {
                            font-size: $sizeError;
                        }

                        .iconDiv {
                            bottom: $bottomTilde;
                            left: $leftTilde;
                        }
                    }
                }
            }

            .Btn {
                button {
                    padding: 6px;
                    font-size: 13px;
                }
            }

            #prov {
                .contenedorSugerencia {

                    div {
                        #mensaje {
                            padding: 7px;
                            width: 240px;

                            p {
                                font-size: $sizeProv;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 340px) {
    $sizeLabel: 15px;
    $sizeInput: 14px;
    $sizeError: 12px;
    $sizeProv : 12px;
    $widthError: 200px;
    $heightError: 24px;
    $bottomTilde: 100%;
    $leftTilde: 6.5rem;

    .form-container {
        height: 43rem;

        #contactForm {
            width: 290px;
            padding: 0.3rem;
            gap: 0;

            .Img {
                img {
                    height: 72px;
                }
            }

            .Mitad1 {
                div {
                    gap: 3px;

                    label {
                        font-size: $sizeLabel;
                    }

                    input {
                        font-size: $sizeInput;
                        width: 240px;
                        padding: 4.5px;
                    }

                    .contenedorError {
                        height: $heightError;
                        width: $widthError;

                        .errorMessageDiv {
                            font-size: $sizeError;
                        }

                        .iconDiv {
                            bottom: $bottomTilde;
                            left: $leftTilde;
                        }
                    }
                }
            }

            .Mitad2 {
                div {
                    gap: 3px;

                    label {
                        font-size: $sizeLabel;
                    }

                    input {
                        font-size: $sizeInput;
                        width: 240px;
                        padding: 4.5px;
                    }

                    .contenedorError {
                        height: $heightError;
                        width: $widthError;

                        .errorMessageDiv {
                            font-size: $sizeError;
                        }

                        .iconDiv {
                            bottom: $bottomTilde;
                            left: $leftTilde;
                        }
                    }
                }
            }

            .Btn {
                button {
                    padding: 6px;
                    font-size: 13px;
                }
            }

            #prov {
                .contenedorSugerencia {
                    div {
                        #mensaje {
                            p {
                                font-size: $sizeProv;
                            }
                        }
                    }
                }
            }
        }
    }
}