footer {
    background-color: #96b19791;
    display: grid;
    grid-template-areas: "titleLogoFooter buttonsFooter logoContact logosRedes";
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;

    .titleLogoFooter {
        grid-area: titleLogoFooter;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-right: solid 1px;

        a {
            img {
                cursor: pointer;
                height: 120px;
                transition: 0.3s ease;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        h2 {
            position: relative;
            bottom: 20px;
            font-size: 17px;
            font-family: "TT";
            font-weight: 100;
        }
    }

    .buttonsFooter {
        grid-area: buttonsFooter;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;
        gap: 10px;
        border-right: solid 1px;

        .link {
            text-decoration: none;
            transition: 0.15s ease-in-out;
            border-bottom: solid 1px #00000000;
            font-size: 15px;
            font-family: "TT";
            color: #000;

            &:hover {
                border-bottom: 1px solid #000;
            }
        }
    }

    .logoContact {
        grid-area: logoContact;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: solid 1px;
        gap: 10px;

        h2 {
            font-size: 17px;
            font-family: "TT";
            font-weight: 100;
        }

        .contact {

            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 10px;

            div {
                display: flex;
                align-items: center;
                flex-direction: row;

                a {
                    img {
                        height: 45px;
                        transition: 0.3s ease;

                        &:hover {
                            scale: 1.05;
                        }
                    }
                }

                h2 {
                    font-size: 15px;
                    font-family: "TT";
                    font-weight: 100;
                }
            }
        }

    }

    .logosRedes {
        grid-area: logosRedes;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2 {
            font-size: 17px;
            font-family: "TT";
            font-weight: 100;
        }

        div {
            display: flex;
            gap: 16px;

            a {
                img {
                    height: 60px;
                    transition: 0.3s ease;

                    &:hover {
                        scale: 1.15;
                    }

                }
            }
        }
    }
}