footer {
    background-color: #96b19791;
    display: grid;
    grid-template-areas: "titleLogoFooter buttonsFooter logoContact logosRedes";
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;

    .titleLogoFooter {
        grid-area: titleLogoFooter;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-right: solid 1px;

        a {
            img {
                cursor: pointer;
                height: 120px;
                transition: 0.3s ease;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        h2 {
            font-size: 20px;
            font-weight: 100;
        }
    }

    .buttonsFooter {
        grid-area: buttonsFooter;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;
        gap: 10px;
        border-right: solid 1px;

        .link {
            text-decoration: none;
            transition: 0.15s ease-in-out;
            border-bottom: solid 1px #00000000;
            font-size: 20px;
            color: #000;

            &:hover {
                border-bottom: 1px solid #000;
            }
        }
    }

    .logoContact {
        grid-area: logoContact;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: solid 1px;
        gap: 10px;

        h2 {
            font-size: 20px;
            font-weight: 100;
        }

        .contact {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 10px;

            div {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 10px;

                a {
                    img {
                        height: 30px;
                        transition: 0.3s ease;

                        &:hover {
                            scale: 1.2;
                        }
                    }
                }

                img {
                    height: 30px;
                }

                h2 {
                    font-size: 14px;
                    font-weight: 100;
                }
            }
        }
    }

    .logosRedes {
        grid-area: logosRedes;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h2 {
            font-size: 20px;
            font-weight: 100;
        }

        div {
            display: flex;
            gap: 1rem;

            a {
                img {
                    height: 60px;
                    transition: 0.3s ease;

                    &:hover {
                        scale: 1.15;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1380px) {
    footer {
        .titleLogoFooter {
            h2 {
                font-size: 18px;
            }
        }

        .buttonsFooter {
            .link {
                font-size: 18px;
            }
        }

        .logoContact {
            h2 {
                font-size: 18px;
            }
        }

        .logosRedes {
            div {
                a {
                    img {
                        height: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1220px) {
    footer {
        .titleLogoFooter {
            a {
                img {
                    height: 110px;
                }
            }

            h2 {
                font-size: 16px;
            }
        }

        .buttonsFooter {
            .link {
                font-size: 16px;
            }
        }

        .logoContact {
            h2 {
                font-size: 16px;
            }

            .contact {
                div {
                    a {
                        img {
                            height: 26px;
                        }
                    }

                    img {
                        height: 26px;
                    }

                    h2 {
                        font-size: 12px;
                    }
                }
            }
        }

        .logosRedes {
            h2 {
                font-size: 16px;
            }

            div {
                a {
                    img {
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1070px) {
    footer {
        grid-template-areas: "titleLogoFooter buttonsFooter" "logoContact logosRedes";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 20px;

        .titleLogoFooter {
            a {
                img {
                    height: 120px;
                }
            }

            h2 {
                font-size: 20px;
            }
        }

        .buttonsFooter {
            margin-left: 30px;
            border-right: solid 0px;

            .link {
                font-size: 20px;
            }
        }

        .logoContact {
            padding: 1rem;
            border-top: 1px solid;
            border-right: solid 1px;

            h2 {
                font-size: 20px;
            }

            .contact {
                div {
                    a {
                        img {
                            height: 30px;
                        }
                    }

                    img {
                        height: 30px;
                    }

                    h2 {
                        font-size: 16px;
                    }
                }
            }
        }

        .logosRedes {
            border-top: 1px solid;

            h2 {
                font-size: 20px;
            }

            div {
                a {
                    img {
                        height: 60px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 690px) {
    footer {
        .titleLogoFooter {
            a {
                img {
                    height: 110px;
                }
            }

            h2 {
                font-size: 16px;
            }
        }

        .buttonsFooter {
            .link {
                font-size: 16px;
            }
        }

        .logoContact {
            h2 {
                font-size: 16px;
            }

            .contact {
                div {
                    a {
                        img {
                            height: 26px;
                        }
                    }

                    img {
                        height: 26px;
                    }

                    h2 {
                        font-size: 12px;
                    }
                }
            }
        }

        .logosRedes {
            h2 {
                font-size: 16px;
            }

            div {
                a {
                    img {
                        height: 45px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    footer {
        .titleLogoFooter {
            a {
                img {
                    height: 100px;
                }
            }

            h2 {
                font-size: 14px;
            }
        }

        .buttonsFooter {
            .link {
                font-size: 14px;
            }
        }

        .logoContact {
            h2 {
                font-size: 14px;
            }

            .contact {
                div {
                    a {
                        img {
                            height: 24px;
                        }
                    }

                    img {
                        height: 24px;
                    }

                    h2 {
                        font-size: 10px;
                    }
                }
            }
        }

        .logosRedes {
            h2 {
                font-size: 14px;
            }

            div {
                a {
                    img {
                        height: 35px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    footer {
        grid-template-areas: "logosRedes" "logoContact" "buttonsFooter" "titleLogoFooter";
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        padding: 0;

        .titleLogoFooter {
            border-top: 1px solid;

            a {
                img {
                    height: 120px;
                }
            }

            h2 {
                font-size: 20px;
            }
        }

        .buttonsFooter {
            border-top: 1px solid;
            justify-content: center;
            align-items: center;
            margin-left: 0;
            border-right: solid 0px;

            .link {
                font-size: 20px;
            }
        }

        .logoContact {
            border-top: 1px solid;
            border-right: 0;

            h2 {
                font-size: 20px;
            }

            .contact {
                div {
                    a {
                        img {
                            height: 35px;
                        }
                    }

                    img {
                        height: 35px;
                    }

                    h2 {
                        font-size: 14px;
                    }
                }
            }
        }

        .logosRedes {
            border-top: 0;

            h2 {
                font-size: 20px;
            }

            div {
                a {
                    img {
                        height: 70px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    footer {
        .titleLogoFooter {
            a {
                img {
                    height: 110px;
                }
            }

            h2 {
                font-size: 18px;
            }
        }

        .buttonsFooter {
            .link {
                font-size: 18px;
            }
        }

        .logoContact {
            h2 {
                font-size: 18px;
            }

            .contact {
                div {
                    a {
                        img {
                            height: 30px;
                        }
                    }

                    img {
                        height: 30px;
                    }

                    h2 {
                        font-size: 14px;
                    }
                }
            }
        }

        .logosRedes {
            h2 {
                font-size: 18px;
            }

            div {
                a {
                    img {
                        height: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 310px) {
    footer {
        .titleLogoFooter {
            a {
                img {
                    height: 100px;
                }
            }

            h2 {
                font-size: 16px;
            }
        }

        .buttonsFooter {
            .link {
                font-size: 16px;
            }
        }

        .logoContact {
            h2 {
                font-size: 16px;
            }

            .contact {
                div {
                    a {
                        img {
                            height: 28px;
                        }
                    }

                    img {
                        height: 28px;
                    }

                    h2 {
                        font-size: 12px;
                    }
                }
            }
        }

        .logosRedes {
            h2 {
                font-size: 16px;
            }

            div {
                a {
                    img {
                        height: 46px;
                    }
                }
            }
        }
    }
}