.content {
    height: 600px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 55px;
        border-bottom: #000 solid 4px;
        font-family: "Lovelo";
    }

    .imgContent {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: 35px;
                font-family: "TT";
            }

            .imgsimg {
                width: 200px;
                height: 200px;

                img {
                    object-fit: contain;
                    mix-blend-mode: darken;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .content {
        height: 500px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h1 {
            font-size: 37px;
            border-bottom: #000 solid 4px;
        }
    
        .imgContent {
            display: flex;
            flex-wrap: wrap;
    
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                h2 {
                    font-size: 30px;
                }
    
                .imgsimg {
                    width: 150px;
                    height: 150px;
    
                    img {
                        object-fit: contain;
                        mix-blend-mode: darken;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}