#chatBot {
    display: block;
    position: relative;

    .chatBtn {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        z-index: 30;
        bottom: 10%;
        right: 10%;
        cursor: pointer;

        img{
            height: 100px;
        }

        &::before {
            content: "";
            position: absolute;
            border-radius: 10px;
            height: 2px;
            width: 30px;
            transition: transform 0.3s ease;
            transform: translateY(-10px);
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            border-radius: 10px;
            height: 2px;
            width: 30px;
            transition: transform 0.3s ease;
            transform: translateY(10px);
        }

        &.close::before {
            transform: translateY(0) rotate(-45deg);
            background-color: #000;
            position: fixed;
        }

        &.close::after {
            transform: translateY(0) rotate(45deg);
            background-color: #000;
            position: fixed;
        }
    }

    .offcanvasChat {
        position: fixed;
        top: 80%;
        right: 5%;
        width: 400px;
        height: 100%;
        background-color: #00000071;
        padding: 20px;
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.6s ease;
        z-index: 28;
    
        &.show {
            transform:  translateY(-75%);
            opacity: 1;
        }
    }
    
    
}