.visitar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assetsCoberturas/fondoCoberturas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 47rem;
    gap: 2.5rem;

    img{
        height: 200px;
        scale: 2;
    }

    h1{
        font-size: 35px;
        width: 1000px;
        text-align: center;
        font-weight: 100;
    }

    p{
        font-size: 25px;
    }

    h2{
        font-size: 26px;

        verde{
            color: #19711b;
        }
    }

    .linkVisitar {
        text-decoration: none;
        border-radius: 20px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        background-color: #19711b;
        padding: 10px;
        transition: 0.4s ease;

        &:hover {
            scale: 1.2;
        }
    }
}