#error {
    background-color: #eaefea;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 40rem;
    font-family: "TT";

    .titleError1 {
        font-size: 50px;
        border-bottom: #000 solid;

    }

    .titleError2 {
        font-size: 30px;
    }

    .linkError {
        text-decoration: none;
        background-color: #fff;
        padding: 4px;
        font-size: 20px;
        border-radius: 4px;
        transition: 0.4s;
        background-color: #000;
        color: #fff;

        &:hover {
            scale: 1.1;
        }
    }


    img {
        height: 300px;
    }
}

@media (max-width: 450px) {
    #error {
        height: 30rem;
        .titleError1 {
            font-size: 40px;
        }

        .titleError2 {
            font-size: 23px;
        }

        .linkError {
            font-size: 17px;
        }

        img {
            height: 200px;
        }
    }
}

@media (max-width: 300px) {
    #error {
        height: 26rem;
        .titleError1 {
            font-size: 33px;
        }

        .titleError2 {
            font-size: 20px;
        }

        .linkError {
            font-size: 15px;
        }

        img {
            height: 190px;
        }
    }
}