header {
    background-color: #96b197;
    max-width: 100%;

    nav {
        display: grid;
        grid-template-areas: "logo botones";
        grid-template-rows: auto auto;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 26px;

            img {
                z-index: 1;
                grid-area: logo;
                height: 80px;
                scale: 1.7;
            }
        }

        /*Botones de la Barra de Navegacion*/

        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 70px;
            grid-area: botones;

            .links {
                text-decoration: none;
                font-size: 26px;
                color: #000;
                transition: 0.2s ease-in-out;
                border-bottom: solid 1px #00000000;

                /*Animacion de Botones*/
                &:hover {
                    border-bottom: solid 1px #000000;
                }
            }
        }
    }
}

/*Menu Hamburguesa*/

#menu-burger {
    display: none;
}

/*Media Queries*/

@media (max-width: 1220px) {
    header {
        nav {
            .logo {
                top: 20px;
                img {
                    height: 70px;
                    scale: 1.5;
                }
            }

            .buttons {
                gap: 50px;

                .links {
                    font-size: 24px;
                }
            }
        }
    }
}

@media (max-width: 1040px) {
    header {
        nav {
            .logo {
                top: 18px;
                img {
                    height: 65px;
                }
            }

            .buttons {
                gap: 40px;

                .links {
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 870px) {
    header {
        nav {
            .logo {
                top: 16px;
                img {
                    height: 60px;
                    scale: 1.4;
                }
            }

            .buttons {
                gap: 30px;

                .links {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        nav {
            display: flex;
            justify-content: center;
            gap: 30rem;

            .logo {
                img {
                    height: 70px;
                }
            }

            /*Menu Hamburguesa*/
            #menu-burger {
                display: block;
                position: relative;

                .menu-btn {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 4rem;
                    height: 4rem;
                    z-index: 104;
                    cursor: pointer;

                    &::before {
                        content: "";
                        position: absolute;
                        border-radius: 10px;
                        height: 2px;
                        width: 30px;
                        background-color: #ffffff;
                        transition: transform 0.3s ease;
                        transform: translateY(-10px);
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        border-radius: 10px;
                        height: 2px;
                        width: 30px;
                        background-color: #ffffff;
                        transition: transform 0.3s ease;
                        transform: translateY(10px);
                    }

                    span {
                        content: "";
                        position: absolute;
                        border-radius: 10px;
                        height: 2px;
                        width: 30px;
                        background-color: #ffffff;
                        transition: transform 0.3s ease;
                        transform: translateY();
                    }

                    &.close::before {
                        transform: translateY(0) rotate(-45deg);
                        background-color: #000;
                        position: fixed;
                    }

                    &.close::after {
                        transform: translateY(0) rotate(45deg);
                        background-color: #000;
                        position: fixed;
                    }
                }

                .offcanvas {
                    position: fixed;
                    top: 0;
                    right: -80%;
                    width: 70%;
                    height: 100%;
                    background-color: #ffffffee;
                    padding: 50px 20px;
                    transition: transform 0.6s ease;
                    z-index: 103;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .links {
                        font-size: 22px;
                        margin-bottom: 20px;
                        color: #000000;
                        text-decoration: none;
                        width: 60%;
                        font-family: "TT";
                        border-bottom: solid 2px #d8d8d800;
                        transition: 0.3s ease-in-out;
                        border-bottom: solid 1px #00000000;

                        /*Animacion de Botones*/
                        &:hover {
                            border-bottom: solid 1px #000000;
                        }
                    }

                    &.show {
                        transform: translateX(-110%);
                    }
                }
            }

            .buttons {
                display: none;
            }
        }
    }
}

@media (max-width: 700px) {
    header {
        nav {
            gap: 22rem;

            .logo {
                top: 18px;
                img {
                    height: 65px;
                    scale: 1.5;
                }
            }

            /*Menu Hamburguesa*/
            #menu-burger {

                .menu-btn {
                    width: 4rem;
                    height: 4rem;
                }

                .offcanvas {
                    gap: 15px;

                    .links {
                        font-size: 20px;
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media (max-width: 580px) {
    header {
        nav {
            gap: 17rem;

            .logo {
                top: 16px;
                img {
                    height: 60px;
                    scale: 1.4;
                }
            }

            /*Menu Hamburguesa*/
            #menu-burger {

                .offcanvas {
                    .links {
                        font-size: 19px;
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    header {
        nav {
            gap: 15.5rem;

            .logo {
                top: 16px;
                img {
                    height: 55px;
                    scale: 1.3;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    header {
        nav {
            gap: 14rem;

            .logo {
                top: 14px;
            }
        }
    }
}

@media (max-width: 360px) {
    header {
        nav {
            gap: 13rem;
        }
    }
}

@media (max-width: 330px) {
    header {
        nav {
            gap: 10rem;
        }
    }
}